/*----------SET NAVIGATION BAR STYLE---------------*/


/* Set background color & pointer for navBar */
.navBar {
  background-color: #333;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

/* Center navBar links */
.navBar a { 
  float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

/* Change color when link is hovered over*/
.navBar a:hover {
  background-color: rgb(170, 118, 60);
  color: white;
  
}

/*---------CAROUSEL STYLE-----------------*/

.slideshowCarousel {
  width: 800px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box

}

/*_________FORWARD/NEXT STYLE_________*/

/* Set back and forward attributes */
.back, .forward {	
	position: absolute;
	width: auto;	
	color:black;
	font-weight: bold;
  font-size: 60px;
  cursor: pointer;	
}
/*Set back position to the left */
.back {
  left: 0;
}
/* Set forward position to the right */
.forward {
	right: 0;
}
/* Change color when pointers are hovered over */
.back:hover, .forward:hover {
  color: red
}

/*------------SCROLL BOX/PAGE2-----------------*/


.scrollBox {
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height:350px;
  width:500px;
  overflow:auto;
  border-color: black;
  background-color: beige;
  color:black;
  scrollbar-base-color: black;
  font-family:arial;
  padding-top:15px;
  padding-bottom:15px;
  box-sizing: border-box;
  
}

.socialLinks {
	width: 10 px;
	height: 10 px;
	font-size: 1px;
	background-color:white;
  	padding: 10px;
  	position: relative;
  	text-align: center;
  	border-radius: 3 rem;
	cursor: pointer;

}

.socialLinks a{
  padding: 20px 20px;
}

