<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "/nfs/stak/users/bachichi/cs290/final_project_icb/views/navstyle.css" type = "text/css">
  <title>Claudio's Kitchen Remodels</title>
</head>
<body>
  {{{body}}}
</body>
</html>
