<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href= "views/stylesheet.css" type = "text/css">
    <title>Home Page</title>
</head>
<body>
    <h1 style="text-align:center">CLAUDIO'S KITCHEN REMODELS</h1>
   
    <div class="navBar">
        <a href="/">Home</a>
        <a href="/page2">Experience</a>
        <a href="/page3">Services</a>
        <a href="/page4">Contact</a>
    </div>
    


<div id="slide">
  <div class="slideshowCarousel">
    <div class="carouselSlides"> <img src="kitchen1.jpg" style="width:100%"> 
    <cite>HomeAdvisor.com</cite></div>
    <div class="carouselSlides"> <img src="kitchen2.jpg" style="width:100%"> 
    <cite>LarseRemodel.com</cite></div>
    <div class="carouselSlides"> <img src="kitchen3.jpg" style="width:100%"> 
    <cite>SeaPointe.com</cite></div>
    <div class="carouselSlides"> <img src="kitchen4.jpg" style="width:100%">
    <cite>KaminskyHomeRemodeling.com</cite> </div>
    <a class="back" onclick="carouselPos(-1)"> < </a> <a class="forward" onclick="carouselPos(1)"> > </a> </div>
  <br>
   </div>

  <br>
  <br>

  <br>
    <div class="socialLinks">
        <a href="https://twitter.com"><img src = "twitter_icon.png"></a>
        <a href="https://facebook.com"><img src = "facebook_icon.png"></a>
        <a href="https://linkedin.com"><img src = "linkedin_icon.png"></a>

    </div>





<script src = "page1js.js"></script>

</body>
</html>