<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "views/stylesheet.css" type = "text/css">
    <title>Fourth Page</title>
</head>
<body>

	<h1 style="text-align:center">CLAUDIO'S KITCHEN REMODELS</h1>
      
    <div class="navBar">
        <a href="/">Home</a>
        <a href="/page2">Experience</a>
        <a href="/page3">Services</a>
        <a href="/page4">Contact</a>
    </div>

	<h2 style="text-align:center">We'd <span style="color: red;"> <i>Love</i></span> To Hear From You</h2>

    <br>
    <br>

    <form id = "post_request" method = "post">

        <h3 style="text-align:center">Fill Out The Following And We'll Get Back To You With More Information!</h3>

 		<fieldset>
 			
 			<br>
 			<fieldset>
 				<label> Your Name: <input type = "text" id = "yourname" name = "yourname"> </label>
 			</fieldset>
 			<fieldset>
 				<label> Your Email: <input type = "email" id = "email" name = "email"> </label>
 			</fieldset>
 			<fieldset>
 				<label> Your Phone Number: <input type = "phone number" id = "phone" name = "phone"> </label>
 			</fieldset>
 			<br>
 			<button id = "submitButton" type = "submit"> Submit </button>
 				
 		</fieldset>
 		</form>

 		<div>
 			<h2 id = "user_confirm"></h2>
            <h3 id = "user_confirm2"></h3>
 			
 			<span id = "user_email"> </span> <br>
 			<span id = "user_phone"> </span> 
 		</div>
		<br>
		<br>
		<br>
    	<div class="socialLinks">
        <a href="https://twitter.com"><img src = "twitter_icon.png"></a>
        <a href="https://facebook.com"><img src = "facebook_icon.png"></a>
        <a href="https://linkedin.com"><img src = "linkedin_icon.png"></a>

    </div>


    <script src= "page4js.js"></script>
    
</body>
</html>