<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "views/stylesheet.css" type = "text/css">
    <title>page 3</title>
</head>
<body><h1 style="text-align:center">CLAUDIO'S KITCHEN REMODELS</h1>
    
   
    <div class="navBar">
        <a href="/">Home</a>
        <a href="/page2">Experience</a>
        <a href="/page3">Services</a>
        <a href="/page4">Contact</a>
    </div>

    <h2 style="text-align:center">Our Services</h2>

    <ul>
        <li>Kitchen Remodels</li>
        <li>Counter Tops</li>
        <li>Moving Walls</li>
        <li>Installing Appliances</li>
        <li>Bathroom Remodels</li>
        <li>Flooring</li>
        <li>And Just About Everything Else!</li>
        <li> <a href = "claudios.pdf" download>Click here to download our brochure!</a></li>
    </ul>

    <br>
    <br>
    <div class="socialLinks">
        <a href="https://twitter.com"><img src = "twitter_icon.png"></a>
        <a href="https://facebook.com"><img src = "facebook_icon.png"></a>
        <a href="https://linkedin.com"><img src = "linkedin_icon.png"></a>

    </div>
   

</body>
</html>
    
</body>
</html>