<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "views/stylesheet.css" type = "text/css">
    <title>Second Page</title>
    <title>Page 2</title>
</head>
<body>

    <h1 style="text-align:center">CLAUDIO'S KITCHEN REMODELS</h1>
   
   
    <div class="navBar">
        <a href="/">Home</a>
        <a href="/page2">Experience</a>
        <a href="/page3">Services</a>
        <a href="/page4">Contact</a>
    </div>
    <h2 style="text-align:center">We're Southern California's Premier Home Remolders!</h2>
    <br>
    <div class="scrollBox"><p style="text-align: center"><h4><strong><u>CHECK OUT OUR EXPERIENCE!</u></strong></h4>
            <p>We are the go-to kitchen remodeler in Southern California! From movie
                stars and athletes, to the average Joe, we have services that can accomadate
                any household! We have in house designers who can you can depend on to
                deliver you the kitchen (or bathroom, or whatever else, really) of your dreams!
                Check out some of the testimonals below:
            </p>
            <p></p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed accumsan metus vitae purus tempor, vel sollicitudin nulla aliquam. 
            Morbi tincidunt tellus nec nibh faucibus porttitor. - Wayne Gretzy</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed accumsan metus vitae purus tempor, vel sollicitudin nulla aliquam. 
            Morbi tincidunt tellus nec nibh faucibus porttitor.- Michael Scott</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed accumsan metus vitae purus tempor, vel sollicitudin nulla aliquam. 
            Morbi tincidunt tellus nec nibh faucibus porttitor. - Bigfoot</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed accumsan metus vitae purus tempor, vel sollicitudin nulla aliquam. 
            Morbi tincidunt tellus nec nibh faucibus porttitor. - 90 Day Fiance's Coltee</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed accumsan metus vitae purus tempor, vel sollicitudin nulla aliquam. 
            Morbi tincidunt tellus nec nibh faucibus porttitor. -Aquaman</p>
            
        
    </div>

    <br>
    <div class="socialLinks">
        <a href="https://twitter.com"><img src = "twitter_icon.png"></a>
        <a href="https://facebook.com"><img src = "facebook_icon.png"></a>
        <a href="https://linkedin.com"><img src = "linkedin_icon.png"></a>

    </div>
   



</body>

</html>
    
</body>
</html>
